---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Halo, Manusia dan Alam!</h1>
			<p>
				Selamat datang di blog pribadi Gua. Nantinya blog ini akan diisi dengan berbagai tulisan-tulisan tentang apa aja yang gua suka, bisa jadi tentang opini-opini gua mengenai hobi, teknologi, politikm, dan lain-lain. Pada akhirnya ini akan jadi semacam taman dari pikiran Gua yang bisa kalian baca kapan aja.
			</p>
		</main>
		<Footer />
	</body>
</html>
